.cabecalho{
    margin: 10px 25px;
}

.name{
    font-weight: 400;
    position: absolute;
}

.button-linkedin{
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: block;
}

.description{
    width: 100vh;
    text-align: center;
    margin-top: 20vh;
    font-size: 18.5px;
}

.bg-main{
    background: url('../img/photo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    height: 230px;
    width: 230px;
    margin: auto;
    margin-top: 70px;
    border-radius: 100%;
}

@media screen and (max-width:992px) {
    .name{
        position: initial;
    }

    .description{
        width: 45vh;
    }

    .bi-x-circle:hover{
        border-radius: 100%;
        color: #fff;
        background-color: black;
    }

    .tittle-header{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .lista{
        display: flex;
        gap: 12px;
    }
 
    .item{
        border: 1px solid #666;
        width: 100%;
            a{
                padding-left: 15px;
                &:hover{
                    background-color: blue;
                    color: white;
                }
            }
    }
}


.marcacao{
    background-color: transparent;
    color:#0B5ED7;
}
